[v-cloak] {
    display: none !important;
}

body,#app {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    background: #F2F2F2;
}

.index-container {
    margin: 0;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1%;
    height: calc(100% - 15px);
}

.index-header {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    background: #fff;
    border-radius: 4px;
    flex: 0 0 3%;
}

.index-header_image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index-header_image img {
    zoom: 60%;
}

.index-body {
    width: 99%;
    background: transparent;
    border-radius: 4px;
    flex: 1 1 calc(65% - 10px);
    padding: 0;
}

.index-footer {
    width: 99%;
    background: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #989898;
    font-size: 10px;
    gap: 4px;
    padding: 3px 0;
    flex: 0 0 5%;
}

.index-footer div {
    color: #606266;
}

.index-menu{
    border-bottom: none !important;
}

.header-helper{
    font-size: 14px;
}