.system-info {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    flex: 1;
    align-items: stretch;
    height: 100%;
}

.system-card {
    flex: 1 1 24%;
    box-sizing: border-box;
    align-items: stretch;
}

.system-card .el-card__body{
    max-height: calc(82% / 2);
    overflow-y: auto;
}

@media(min-width:320px) and (max-width:480px){
    .system-card {
        flex: 1 1 100%;
        box-sizing: border-box;
    }
    .system-card .el-card__body{
        max-height: 23vh;
        overflow-y: auto;
    }
}

.system-card .el-card__header{
    padding: 8px 5px !important;
}

.card-header span{
    padding: 2px 0 2px 5px;
    border-left: 5px solid #0A6DFC;
    border-radius: 1px;
    font-size: 11px;
    line-height: 12px;
    color: #3D3D3D;
}

.el-card__body{
    padding: 8px !important;
}

.el-form-item--small{
    margin-bottom: 8px !important;
}

.el-form-item--small .el-form-item__label{
    height: 14px;
    line-height: 14px;
    font-size: 10px;
}

.el-form-item--small .el-form-item__content{
    height: 13px;
    line-height: 13px;
    font-size: 10px;
    color: #333333;
}