@font-face {
  font-family: "iconfont"; /* Project id 4799394 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1735811187002') format('woff2'),
       url('iconfont.woff?t=1735811187002') format('woff'),
       url('iconfont.ttf?t=1735811187002') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tsai-zujian-cipanIO:before {
  content: "\e656";
}

.tsai-bangzhuyushuoming:before {
  content: "\e70f";
}

.tsai-computer:before {
  content: "\e602";
}

.tsai-JVM:before {
  content: "\e653";
}

.tsai-cpu:before {
  content: "\e650";
}

.tsai-fuwuqi:before {
  content: "\e625";
}

.tsai-dianchi:before {
  content: "\e67c";
}

.tsai-neicunshiyongshuai:before {
  content: "\e62f";
}

